//main layout
@mixin fontface{
  font-weight: normal;
  font-style: normal;
}
@mixin part-content {
	background-color: $base-background;
	border: 1px solid darken($base-background, 3%);	
	border-radius: 3px;
	margin-bottom: 20px;
	overflow: hidden;
}
html {
	height: 100%;
}
body{
	height: 100%;
	width: 100%;
}
.main{
    width: 100%;
    min-height: 100%;
    height: auto !important;
	height: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 2;
    background: url(../img/bg.png);
}

// content
.content{
	height: auto;
	position:relative;
}

.wrapper{
	height: auto;
	position:relative;
	padding-top: 40px;
	padding-bottom: 40px;
}

// news
.news-list{}
.news-item{
	padding: 0 30px 10px;
    margin-bottom: 8px;
    border-bottom: 1px solid #E4E4E4;
}
.news-title{
	font-size: 1.2em;
}
.news-date{
	display: block;
    font-size: 0.8em;
}
.news-teaser{
    margin: 0;
	line-height: 1.35;
}

%gradient-line{
    	width: 100%;
    	height: 8px;
 		background: linear-gradient(to right,  #85BB6E 0%,#11691f 43%,#11691f 57%,#85BB6E 100%); /* W3C */
}

//media styles
img,video,audio,iframe,object{
	max-width:100%;
}

//alignment
.text-left           { text-align: left; }
.text-right          { text-align: right; }
.text-center         { text-align: center; }
.text-justify        { text-align: justify; }
