/* main layout */
@define-mixin part-content {
	background-color: $base-background;
	border: 1px solid $base-background;	
	border-radius: 3px;
	margin-bottom: 20px;
	overflow: hidden;
}

html {
	height: 100%;
}
body{
	height: 100%;
	width: 100%;
}
.main{
    width: 100%;
    min-height: 100%;
    height: auto !important;
	height: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 2;
    background: url(../img/bg.png);
}

/* content */
.content{
	height: auto;
	position:relative;
}

.wrapper{
	height: auto;
	position:relative;
	padding-top: 40px;
	padding-bottom: 40px;
}

/* main page*/
.part-content{
		@mixin part-content;
		padding: 8px 0 18px;
	.info-inner{
		padding: 24px;
	}
	.list-content{
		.list-wrap{
			margin-left: 272px;
			padding: 0;
			font: normal 15px/46px fira_sansbook, Arial, Verdana, Helvetica, sans-serif;
			color: #37424d;
			.list-item{
				list-style: none;
				.list-prop{
					float: left;
					font: 500 16px/46px fira_sansbold, Arial, Verdana, Helvetica, sans-serif;
					color: #4a545d;
				}
				.list-value{
					margin-left: 10px;
				}
				.tag-wrap{
					padding: 6px 0 0;
					.tag-item{
						list-style: none;
						display: inline-block;
						float: left;
						margin: 6px 4px 0 0;
						&:first-child{
						}
					}
					
				}
			}
		}
	}
	.simple-list{
		.badge-title{
			margin-left: 60px;
		}
		.badge-text{
			margin-left: 60px;
			font: normal 15px/18px fira_sanslight, Arial, Verdana, Helvetica, sans-serif;
		}
	}
}

/* news*/
.news-list{}
.news-item{
	padding: 0 0 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #E4E4E4;
}
.news-title{
	font-size: 1.3em;
	line-height: 1.5;
}
.news-date{
	display: block;
    font-size: 0.8em;
}
.news-teaser{
    margin: 0;
	line-height: 1.35;
}
/*media styles*/
img,video,audio,iframe,object{
	max-width:100%;
}
