// Set your project variables here

$bad-color: #ce0832; // Bad color for errors, validation etc.
$good-color: #5dae1b; // Good color for success etc.
$info-color: #10bade; // Good color for success etc.
$warning-color: #dea110; // Good color for success etc.
$subtle-color: #999; // Subtle color for subtle text
$base-background: #F1F3F7;
$base-color-1:#41b9d4;
$base-color-2:#48cbe8;
$base-color-3:#51daf8;
$base-color-4:#3ba8c0;


$br: 3px; // Border-radius
$btn-br: 3px; // Button border-radius
$padding: 40px; // Consistent padding and margins
$margin: 10px;

//color
$white:#fbfcfd;
$black:#000;
$blue:#3bbfce;
$base-color:#38A00D;
$gray-2:#e2e2e2;
$gray-e:#eee;
$gray-d:#dadada;
$gray-3:#d3d3d3;
$gray-4:#444;
$gray-5:#5c5c5c;
$gray-7:#757575;
$input-gray:#e4e4e4;
$border-gray:#B4B4B4;
$bg-gray:#383838;
$bg-eee:#EEE;
$color-success:#a7b92a;
$color-error:#fc6767;

//font
$font-arial: Arial, Verdana, Helvetica, sans-serif; 
$font-11:11px;
$font-12:12px;
$font-13:13px;
$font-14:14px;
$font-15:15px;
$font-16:16px;
$font-17:17px;
$font-18:18px;
$font-19:19px;
$font-20:20px;
$font-21:21px;

$lh-14:14px;
$lh-15:15px;
$lh-16:16px;
$lh-17:17px;
$lh-18:18px;
$lh-19:19px;
$lh-20:20px;
$lh-21:21px;
$lh-22:22px;
$lh-23:23px;
$lh-24:24px;
$lh-25:25px;
$lh-26:26px;