//
// Buttons
// --------------------------------------------------


// Base styles
// --------------------------------------------------
%button-style{
	padding: 2px 20px 0;
	max-width: 150px;
	color: #f6f6f6;
	border-radius: 5px;
	font-family: "fira_sansbook";
	font-size: 19px;
	line-height: 30px;
	border:none;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	cursor: pointer;
	transition: all 0.18s ease-in;
}

.btn-form{
	@extend %button-style;
	background-color: #48cbe8;
	border-bottom: solid 2px #3ba8c0;
	&:hover{
		background-color: #0FB0D3;
		border-bottom: solid 2px #2093AD;
	}
}

.btn-gray{
	@extend %button-style;
	background-color: #849db5;
	border-bottom: solid 2px #687b8f;
	&:hover{
		background-color: #5F81A1;
		border-bottom: solid 2px #4B6076;
	}
}

.btn {
  display: inline-block;
  margin-bottom: 0; // For input.btn
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  @extend %button-style;
  @include button-size($padding-large-vertical, $padding, $font-size-base, $line-height-base, $border-radius-small);
  @include user-select(none);

  &:focus {
    @include tab-focus();
  }

  &:hover,
  &:focus {
    text-decoration: none;
  }

  &:active,
  &.active {
    outline: 0;
    background-image: none;
    @include box-shadow(inset 0 3px 5px rgba(0,0,0,.125));
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    cursor: not-allowed;
    pointer-events: none; // Future-proof disabling of clicks
    @include opacity(.65);
    @include box-shadow(none);
  }
}
.btn-md{
  @extend %button-style;
  @include button-size($padding-large-vertical, $padding-large-horizontal, $font-size-large, $line-height-large, $border-radius-small);
}

// Make a button look and behave like a link
.btn-link {
  color: $link-color;
  cursor: pointer;
  @extend %button-style;

  &,
  &:active,
  &[disabled],
  fieldset[disabled] & {
    background-color: transparent;
    @include box-shadow(none);
  }
  &,
  &:hover,
  &:focus,
  &:active {
    border-color: transparent;
  }
  &:hover,
  &:focus {
    color: $link-hover-color;
    text-decoration: underline;
    background-color: transparent;
  }
  &[disabled],
  fieldset[disabled] & {
    &:hover,
    &:focus {
      color: $btn-link-disabled-color;
      text-decoration: none;
    }
  }
}
.btn-close{
  height: 16px;
  width: 16px;
  background-color: $gray-5;
  color: $white;
  font-size: $font-17;
  line-height: $lh-17;
  font-weight: bold;
  border: none;
  text-align: center;
  cursor: pointer;
  &:active{
    background-color: #858585;
  }
}
