// field: input, textarea

%field_input{
	font-size: 12px;
	line-height: 21px;
	background-color: #fbfcfd;
	border-radius: 4px;
	font-family: "fira_sanslight";
	border: solid 1px #3ba8c0;
	color: #3ba8c0;
}
.field-form{
	@extend %field_input;
}
%label{
	color: #58697a;
	font-size: 20px;
	line-height: 26px;
	font-family: "fira_sanslight";
}