// - sidebar layouts - //

.sidebar_wrap{
  margin-left: 250px;
  &.profile{
    margin-left: 240px;
    @media (min-width: $screen-xs-min) and (max-width: $screen-xs-max){
      margin: 0;
    }
  }
  @media (min-width: $screen-xs-min) and (max-width: $screen-xs-max){
    margin: 0;
  }
  .content{
    margin-top: 0;
  }
  .h1-line-white{
    margin-bottom: 0;
    @media (min-width: $screen-xs-min) and (max-width: $screen-sm-max){
      margin: $padding*0.2 0;
      color: $black;
    }
  }
}
.sidebar{
  position: relative;
  width: 220px;
  left: -250px;
  float: left;
  margin: 0 -230px 0 0;
  padding: $padding*0.3 $padding*0.5 $padding*2;
  @media (min-width: $screen-xs-min) and (max-width: $screen-xs-max){
    width: 100%;
    clear: both;
    left: 0;
    margin: 0 0 $padding*0.45;
  }
  .h2{
    display: block;
    margin-top: $padding*0.6;
  }
}

// filters
.filters-link ul{
  list-style: none;
  padding: 0;
  line-height: $lh-26;
}
.filters-price{
  input {
    float: left;
    width: 64px;
  }
  label{
    float: left;
    font-weight: 100;
    margin: $padding*0.35 0 0;
  }
  .filters-control{
    clear: both;
  }
}

// account

.avatar-link{
  display: block;
  float: left;
}
.account-info{
  margin-left: 64px;
  width: 140px;
  min-height: 54px;
}
.account-links{
  list-style: none;
  padding: $padding/4 0 0 $padding/2;
  li{
      margin: $padding/4 0;
    a.active {
      text-decoration: none;
    }
  }
}