//footer
.footer{
	color:#4a545d;
	height:80px;
	position: relative;
	padding: 0;
	z-index:1;
	font: 13px/20px Arial, Helvetica, sans-serif;
    background-color: #eff3f7;
	}
.footer-info{
	margin: 30px 0 0;
	text-align: center;
}

