/* class for width*/
.w-152{
	width: 152px;
}
.w-560{
	width: 560px;
}

/* class for margin*/
.mg-0_8{
  margin: 0 8px;
}
.mg-0_20{
  margin: 0 20px;
}
.mg-0_24{
  margin: 0 24px;
}
/* class for padding*/
