//- about
extends ./../layout.jade

block page-title 
	title Информация о нас

block menu
	-var currentItem = 'about.html';
	include ./../partials/menu

block content
	section.part-content
		header
			h1.title-h1 Кто мы такие и что мы умеем!
		article.info-inner
			p Описаниеи концепции компании, ее направления развития. Какие цели она перед собой ставит. 



































