//- contacts
extends ./../layout.jade

block page-title 
	title Контактная информация

block sidebar
	-var currentItem = 'contacts.html';
	include ./../partials/sidebar

block content
	section.form
		header.form__head
			h1.form__title Возникли вопросы? Напишите нам!
		form.form--feedback(role='form')
			.col-lg-8
				.form-group
					label(for='nameLogin') Имя:
					input.field-form.form-control#nameLogin(type='text' placeholder='Ваше имя')
			.col-lg-8
				.form-group
					label(for='Email') Email:
					input.field-form.form-control#Email(type='email' placeholder='Email')
			.col-lg-8
				.form-group
					label(for='Messege') Сообщение
					textarea.field-form.form-control#Message(rows='10') Текст сообщения 
			.col-lg-6
				.form-group
					button.btn-form Отправить
			.col-lg-4
				.form-group
					button.btn-gray Очистить
	.col-lg-10
		.list__wrap 
			h2.list__title Контакты
				ul.list__body--notype
					li.list__item-contact 
						span.fa.fa-envelope
						|  email@info.com
					li.list__item-contact
						span.fa.fa-phone
						|  +7 (123) 457-78-90
					li.list__item-contact 
						span.fa.fa-skype
						|  login_skype
