//- index.jade
extends ./../layout.jade


block page-title
	title Стартовая страница

block sidebar
	-var currentItem = 'index.html';
	include ./../partials/sidebar

block content
	section.part--content
		header.part__head
			h1.part__title Заголовок стартовой страницы
		article.part__inner
			h3 Ненумерованный список
			+list('list__wrap', 'list__body', 'list__item', 'list__value', 'Тип', 'Специализация', 'Город')
			hr
			h3 Список ссылок
			+menu('menu__list', 'menu__item', 'menu__link', "Первое", "Второе", "Третье", "Четвертое")
			hr
			h3 Cписок секций
			+section('section__wrap', 'section__item', 'section__info', 'section__title', 
			'Первая секция','Вторая','Секция номер 3')