//- index.jade
extends ./../layout.jade


block page-title
	title Стартовая страница

block sidebar
	-var currentItem = 'index.html';
	include ./../partials/sidebar

block content
	section.part-content
		header
			h1.title-h1 Заголовок стартовой страницы
		article.info-inner
			.img-avatar
				img.avatar(src="media/avatar.png")
		+list('list-wrap', 'list-body', 'list-item', 'list-value', 'Тип', 'Специализация', 'Город')
	+menu('menu-wrap', 'menu-item', 'menu-link', "Первое", "Второе", "Третье", "Четвертое")
	+section('section-wrap', 'section-item', 'section-info', 'section-title', 
	'Опыт работы','Частые вопросы','История развития')