//- main.jade
extends ./../layout.jade

block content
	section.part-content
		header
			h1.title-h1 Заголовок страницы
		article.info-inner
			.img-avatar
				img.avatar(src="media/avatar.png")
			.list-content
				ul.list-wrap
					li.list-item
						b.list-prop Свойство первого пункта 
						span.list-value Значение свойства первого пункта
					li.list-item
						b.list-prop Мой возраст: 
						span.list-value 31 год
					li.list-item
						b.list-prop Мой город: 
						span.list-value Красноярск
					li.list-item
						b.list-prop Моя специализация: 
						span.list-value Frontend разработчик
	section.part-content
		header
			h2.title-h1 Опыт работы
		article.info-inner
			.simple-list
				.badge-case
					h3.badge-title ООО "Альдо" - веб-мастер
					p.badge-text Май 2010 - Октябрь 2011
			.simple-list
				.badge-case
					h3.badge-title ООО Юнитмедиа" - SEO-специалист
					p.badge-text Октябрь 2011 - Октябрь 2014
	section.part-content
		header
			h2.title-h1 Образование
		article.info-inner
			.simple-list
				.badge-school
					h3.badge-title Высшее СибГТУ
					p.badge-text Сентябрь 2003 - июнь 2006
			.simple-list
				.badge-doc
					h3.badge-title Курсы Loftschool.ru
					p.badge-text Ноябрь 2014 - по настоящее время
