//- contacts
extends ./../layout.jade

block page-title 
	title Новости

block sidebar
	-var currentItem = 'news.html';
	include ./../partials/sidebar

block content
	section.part--content
		header.part__header
			h1.part__title Корпоративные новости
		article.part__inner
			-var news = { 1: {title: 'Первый заголовок', date: '12.08.2011', teaser: 'Вводная часть первой новости' }, 2: {title: 'Заголовок №2', date: '10.04.2011', teaser: 'Начало из второй новости' }, 3: {title: 'Так называется третья новость', date: '02.03.2011', teaser: 'Необычное название у третьей новости' } };
				.news
					each entry, key  in news
						.news__item
							a.news__title(href='news.html', title=entry.title)= entry.title
							b.news__date= entry.date
							p.news__teaser= entry.teaser
