//- contacts
extends ./../layout.jade

block page-title 
	title Наши работы

block sidebar
	-var currentItem = 'portfolio.html';
	include ./../partials/sidebar

block content
	section.part-content
		header
			h1.title-h1 Портфолио
		article.info-inner
			.img-avatar
				img.avatar(src="media/avatar.png")
				+list('list-wrap', 'list-body', 'list-item', 'list-value', 'Тип', 'Специализация', 'Город')
