//
// Buttons
// --------------------------------------------------


// Base styles
// --------------------------------------------------
%button-style{
	padding: 2px 18px;
	max-width: 150px;
	color: #f6f6f6;
	border-radius: 3px;
	font-size: $font-6*2.5;
	line-height: $lh-8*4;
	text-transform: uppercase;
	border:none;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	cursor: pointer;
	transition: all 0.18s ease-in;
}

.btn-form{
	@extend %button-style;
	background-color: $base-color-1;
	&:hover{
		background-color: $base-color-2;
	}
}

.btn-gray{
	@extend %button-style;
	background-color: $gray-4;
	&:hover{
		background-color: $gray-3;
		color: $gray-4;
	}
}

.btn {
  display: inline-block;
  margin-bottom: 0; // For input.btn
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  @extend %button-style;


  &:hover,
  &:focus {
    text-decoration: none;
  }

  &:active,
  &.active {
    outline: 0;
    background-image: none;
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    cursor: not-allowed;
    pointer-events: none; // Future-proof disabling of clicks
  }
}
.btn-md{
  @extend %button-style;
}


.btn-close{
  height: 16px;
  width: 16px;
  background-color: $gray-5;
  color: $white;
  font-size: $font-8*2.5;
  line-height: $lh-8*2.5;
  font-weight: bold;
  border: none;
  text-align: center;
  cursor: pointer;
  &:active{
    background-color: #858585;
  }
}
