
form{
	label{
		@extend %label;
	}
	.form-verticalmiddle{
		padding: 20px 0;
	}
input[type=text],input[type=email],input[type=phone],input[type=password],input[type=number],input[type=search], textarea{
		@include box-sizing(border-box);
		width:100%;
		padding:5px;
		outline:none;
		&::-webkit-input-placeholder {color:#3ba8c0;}
		&::-moz-placeholder          {color:#3ba8c0;}
		&:-moz-placeholder           {color:#3ba8c0;}
		&:-ms-input-placeholder      {color:#3ba8c0;}
		&.auto{
			width:auto;
		}
	}
	.captcha{
		background-color: #fbfcfd;
		border-radius: 4px;
		border: solid 1px #3ba8c0;
	}
}

//    .add-input{
//    	margin-left: (-$grid-gutter-width);
//		padding: 0 $padding/8 0 0;
//		@media (min-width: $screen-xs-min) and (max-width: $screen-sm-min){
//	    	margin-left: (-$grid-gutter-width/2);
//		}
//    	.btn-plus{
//    		padding: 0;
//    		width: 28px;
//    		height: 28px;
//    		text-align: center;
//			font-size: $font-12*2;
//			line-height: $lh-14*2;
//			margin-left: (-$padding/5);
//		}
//    }
//    .file-form{
//    	#upload{
//    		position:absolute; 
//		    top:0; 
//		    left: 16px; 
//		    width:100%; 
//		    filter: alpha(opacity=0); 
//		    opacity: 0; 
//		    font-size: 50px; 
//		    height: 46px; 
//		    z-index:12;
//		    cursor: pointer;
//    	}
//    }
//    .img-upload{
//    	border-radius: $border-radius-small;
//    	float: left;
//    	margin-bottom: $padding/4;
//    }
//    .soc-linking{
//    	img{
//    		border-radius: $border-radius-small;	
//    	}
//    	display: inline-block;
//    	margin:$padding*0.15 $padding/8 0 0;
//    	text-decoration: none;
//    }
//}
//
//// for inline form
//.form-fullpage{
//	.form-inline{
//		.btn-strip{
//			margin: $padding*0.65 $padding*0.375 0;
//		}
//	}
//}
//.form-inline{
//	.radio{
//		display: inline-block;
//		margin-left: $padding*0.375;
//	}
//}
