.ico {
    display: inline-block;
    font: normal normal normal 14px/1 Iconproject;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.ico-lg {
    font-size: 1.33333333em;
    line-height: .75em;
    vertical-align: -15%
}

.ico-2x {
    font-size: 2em
}

.ico-3x {
    font-size: 3em
}

.ico-4x {
    font-size: 4em
}

.ico-5x {
    font-size: 5em
}

.ico-fw {
    width: 1.28571429em;
    text-align: center
}

.ico-ul {
    padding-left: 0;
    margin-left: 2.14285714em;
    list-style-type: none
}

.ico-ul>li {
    position: relative
}

.ico-li {
    position: absolute;
    left: -2.14285714em;
    width: 2.14285714em;
    top: .14285714em;
    text-align: center
}

.ico-li.ico-lg {
    left: -1.85714286em
}

.ico-border {
    padding: .2em .25em .15em;
    border: solid .08em #eee;
    border-radius: .1em
}

.ico-vkontakte:before{
	content: '\e002';
}

.ico-vk:before{
	content: '\e001';
}

.ico-facebook:before{
	content: '\e005';
	font-size: calc($font-11 * 3);
	line-height: calc($lh-12 * 4);
}

.ico-twitter:before{
	content: '\e003';
	font-size: calc($font-9 * 3);
}

.ico-github:before{
	content: '\e004';
}

