/* header */
.head{
	margin: 0 auto;
    position:relative;
    z-index: 14;
    min-height: 119px;
    background-color: $base-background;
	border-bottom: solid 1px darken($base-background, 3%);
	.head-logo{
		.logo{
	        font: 28px/1.35 Helvetica, Arial, Verdana, sans-serif;
			margin: 26px 0 0;
			.logo-link{
				border-bottom: none;
			}
		}
	}
    .head-soc{
		text-align: right;
        .soc-wrap{
            margin: 35px 0 38px;
            .soc-item{
                display: inline-block;
                margin-left: 22px;
                .soc-link{
                    display: block;
                    width: 52px;
                    height: 52px;
                    border-radius: 50%;
                    background-color: $base-color-1;
                    color: #fff;
                    text-decoration: none;
                    &:hover{
                        background-color: $base-color-2;
                    }
                    .soc-icon{
                        font-size: 28px;
                        line-height: 52px;
                        text-align: center;
                        display: block;
                    }
                }
            }        
        }
    }
}
