- // header
.container-fluid.header
	header.container
		.row
			.col-md-4
				.header__logo
					a.header__logo-link(href="/" title="Главная")
						img(class="header__logo-img" src="/img/logo.png" width="140" height="80" alt="Logo" title="На главную" )   
			.col-md-7
				.header__soc
					ul.header__soc-list
						li.header__soc-item
							a(href="http://vk.com/gorandnik" target="_blank").header__soc-link
								span.header__soc-icon.ico.ico-vk
						li.header__soc-item
							a(href="https://www.facebook.com/gorandnik" target="_blank").header__soc-link
								span.header__soc-icon.ico.ico-facebook
						li.header__soc-item
							a(href="https://twitter.com/gorandnik" target="_blank").header__soc-link
								span.header__soc-icon.ico.ico-twitter
						li.header__soc-item
							a(href="https://github.com/gorand" target="_blank").header__soc-link
								span.header__soc-icon.ico.ico-github


