- // header
.container-fluid.head
	header.container
		.row
			.col-md-4
				.head-logo
					.logo
						a(href="/" title="Главная")
							img(alt="Logo" title="На главную" src="/img/logo.png" width="140" height="80")   
			.col-md-4.pull-right
				.head-soc
					ul.soc-wrap
						li.soc-item
							a(href="http://vk.com/gorandnik" target="_blank").soc-link
								span.soc-icon.fa.fa-vk
						li.soc-item
							a(href="https://www.facebook.com/gorandnik" target="_blank").soc-link
								span.soc-icon.fa.fa-facebook
						li.soc-item
							a(href="https://twitter.com/gorandnik" target="_blank").soc-link
								span.soc-icon.fa.fa-twitter
						li.soc-item
							a(href="https://github.com/gorand" target="_blank").soc-link
								span.soc-icon.fa.fa-github


