- // menu
  nav.menu-wrap
    ul.menu-list
      li.menu-item.active
        a.menu-link(href='index.html' title="Обо мне") Обо мне
      li.menu-item
        a.menu-link(href='portfolio.html' title="Мои работы") Мои работы
      li.menu-item
        a.menu-link(href='feedback.html' title="Связаться со мной") Связаться со мной
      li.menu-item
