- // main menu
.sidebar(role='navigation')
	.sidebar-wrap
		b.sidebar__title Меню навигации
		-var items = { 'Главная': 'index.html', 'Новости': 'news.html', 'О нас': 'about.html', 'Контакты': 'contacts.html', 'Портфолио': 'portfolio.html' };
		nav.menu
			ul.menu__list
				each value, key  in items
					if currentItem === value
						li.menu__item
							a.menu__link.is-active(href=value, title=key)= key
					else
						li.menu__item
							a.menu__link(href=value, title=key)= key			
