- // main menu
.sidebar(role='navigation')
	.sidebar-wrap
		p Меню навигации
		-var items = { 'Главная': 'index.html', 'О нас': 'about.html', 'Контакты': 'contacts.html' };
		nav.menu-wrap
			ul.menu-list
				each value, key  in items
					if currentItem === value
						li.menu-item
							a.menu-link.active(href=value, title=key)= key
					else
						li.menu-item
							a.menu-link(href=value, title=key)= key			
