.container-fluid.footer
    footer(role='contentinfo')
        .row.text-center
            p.footer-info
                &copy; 2014 Gordeev Andrey - Это мой сайт, пожалуйста, не копируйте и не воруйте его  
