section.part-content
	header
		h1.title-h1 Мои работы
	article.info-inner
		.list-thumb
			ul.thumb-wrap
				li.thumb-item
					a.thumb-link( target="_blank" title="Юнитмедиа" href="http://unitmedia.ru")
						img.thumb-img(alt="unitmedia.ru" width="180" height="126" src="media/project-1.jpg")
						span.thumb-title Юнитмедиа
					a.thumb-inlinelink(target="_blank" title="Юнитмедиа" href="http://unitmedia.ru") www.unitmedia.ru
					p.thumb-desc Верстка страниц из PSD-макетов для одностраничного сайта 
				li.thumb-item
					a.thumb-link( target="_blank" title="Интернет-магазин еды" href="http://fastfood.romza.ru")
						img.thumb-img(alt="Интернет-магазин Bon appetit" width="180" height="126" src="media/project-2.jpg")
						span.thumb-title Fastfood
					a.thumb-inlinelink(target="_blank" title="Интернет-магазин еды" href="http://fastfood.romza.ru") www.fastfood.romza.ru
					p.thumb-desc Верстка HTML-страниц из PSD-макетов, адаптив, Bootstrap  
				li.thumb-item
					a.thumb-link( target="_blank" title="Работа на конкурс веб-дизайнеров" href="http://vk.on-1.ru")
						img.thumb-img(alt="Конкурс веб-дизайнеров от ВКонтакте" width="180" height="126" src="media/project-3.jpg")
						span.thumb-title Конкурс VK
					a.thumb-inlinelink(target="_blank" title="Работа на конкурс веб-дизайнеров" href="http://fastfood.romza.ru") www.vk.on-1.ru
					p.thumb-desc Создание HTML-макета страницы в концепции пердоставленного дизайна
