// icon for Project - custom font

@font-face {
    font-family: 'iconproject'; 
    src: url('dist/fonts/iconproject/iconproject.eot');
    src: url('dist/fonts/iconproject/iconproject.eot?#iefix') format('embedded-opentype'),
         url('dist/fonts/iconproject/iconproject.woff') format('woff'),
         url('dist/fonts/iconproject/iconproject.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fira_sanslight'; 
    src: url('../fonts/fira/firasans-light.eot');
    src: url('../fonts/fira/firasans-light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fira/firasans-light.woff') format('woff'),
         url('../fonts/fira/firasans-light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fira_sanslight'; 
    src: url('../fonts/fira/firasans-light.eot');
    src: url('../fonts/fira/firasans-light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fira/firasans-light.woff') format('woff'),
         url('../fonts/fira/firasans-light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fira_sanslight_italic'; 
    src: url('../fonts/fira/firasans-lightitalic.eot');
    src: url('../fonts/fira/firasans-lightitalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fira/firasans-lightitalic.woff') format('woff'),
         url('../fonts/fira/firasans-lightitalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fira_sansbook'; 
    src: url('../fonts/fira/firasans-book.eot');
    src: url('../fonts/fira/firasans-book.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fira/firasans-book.woff') format('woff'),
         url('../fonts/fira/firasans-book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'fira_sansitalic';
    src: url('../fonts/fira/firasans-regularitalic.eot');
    src: url('../fonts/fira/firasans-regularitalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fira/firasans-regularitalic.woff') format('woff'),
         url('../fonts/fira/firasans-regularitalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'fira_sansbold';
    src: url('../fonts/fira/firasans-bold.eot');
    src: url('../fonts/fira/firasans-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fira/firasans-bold.woff') format('woff'),
         url('../fonts/fira/firasans-bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

// icon fonts

@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome/fontawesome-webfont.eot');
    src: url('../fonts/fontawesome/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fontawesome/fontawesome-webfont.woff') format('woff'),
         url('../fonts/fontawesome/fontawesome-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

// Proxima Nova

@font-face {
  font-family: 'ProximaNovaCond-Semibold';
  src: url('../fonts/proximanova/ProximaNovaCond-Semibold.eot?#iefix') format('embedded-opentype'),  url('../fonts/proximanova/ProximaNovaCond-Semibold.otf')  format('opentype'),
         url('../fonts/proximanova/ProximaNovaCond-Semibold.woff') format('woff'), url('../fonts/proximanova/ProximaNovaCond-Semibold.ttf')  format('truetype'), url('../fonts/proximanova/ProximaNovaCond-Semibold.svg#ProximaNovaCond-Semibold') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: Arial, Helvetica,  Verdana, sans-serif; 
  font-weight: 300;
  font-style: normal;
  font-size:100%;
  line-height:1.6;
}
