// Text links

a{
	color: $base-color;
	border-bottom: 1px solid $base-color;
	text-decoration: none;
	transition: all 0.3s ease-in-out;	
	&:hover,&:focus{
	  border-bottom: none;
	}
	  &:focus {
	}
}
a.active{
	cursor: default;
	border-bottom: none;
}

// link for images
.link-img{
	text-decoration: none;
}

