// symbol

%badge-icon{
		margin: 0 0 0 70px;
	&:before{
		content: "";
		display: block;
		float: left;
		width: 42px;
		background: url(../img/sprite-icons.png);
		background-repeat: no-repeat;
	}
}
.badge-case{
	@extend %badge-icon;
	&:before{
		height: 32px;
		background-position: 0 0;
	}
}
.badge-school{
	@extend %badge-icon;
	&:before{
		height: 26px;
		background-position: 0 -32px;
	}
}
.badge-doc{
	@extend %badge-icon;
	&:before{
		height: 34px;
		background-position: 3px -58px;
	}
}