// Typography styles
.main{
	font: normal 15px/1.35 "Roboto-Regular", Arial, Verdana, Helvetica, sans-serif;
}
h1{
}
.title-h1{
	display: inline-block;
	margin: 0;
	padding: 0 25px;
	color: $base-color;
	font: normal 34px/58px  'Roboto-Regular', Arial, Verdana, Helvetica, sans-serif;
	border-bottom: solid 2px $base-color;
}
h2, .title-h2{
}
h3, .title-h3{
	font: normal 16px/24px "Roboto-Regular", Arial, Verdana, Helvetica, sans-serif;
}

p, .p{
	font: normal 15px/24px "Roboto-Regular", Arial, Verdana, Helvetica, sans-serif;
}
.p-normal{
  @extend .p;
  font-weight: normal;
}
.p-gray{
  font-size: $font-14;
  line-height: $lh-20;
  color: #5f5f5f;
}
.p-italic-gray{
  font-size: $font-12;
  line-height: $lh-16;
	font-style: italic;
	color: $gray-7;
}
.text-sm{
  font-family: $font-arial;
  font-size: $font-12;
  line-height: $lh-24;
}
.bold{
	font-weight:bold;
}
.no-decor{
  text-decoration: none;
}
.dotted{
  text-decoration: none;
  border-bottom-width: 1px;
  border-bottom-style: dotted;
}
.no-userselect{
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none; 
}
