/* buttons */
@define-extend button-style{
	padding: 2px 18px;
	max-width: 150px;
	color: #f6f6f6;
	border-radius: 3px;
	font-size: calc($font-unit * 13);
	line-height: calc($font-unit * 32);
	text-transform: uppercase;
	border:none;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	cursor: pointer;
	transition: all 0.18s ease-in;
}
.btn-form{
	@extend button-style;
	background-color: $base-color-1;
	&:hover{
		background-color: $base-color-2;
	}
}

.btn-gray{
	@extend button-style;
	background-color: $gray-4;
	&:hover{
		background-color: $gray-3;
		color: $gray-4;
	}
}
.btn-close{
  height: 16px;
  width: 16px;
  background-color: $gray-5;
  color: $white;
  font-size: ($font-unit * 19);
  line-height: ($font-unit * 19);
  font-weight: bold;
  border: none;
  text-align: center;
  cursor: pointer;
  &:active{
    background-color: #858585;
  }
}
