
@define-extend listBody{
	padding-left: 24px;	
}
@define-extend listItem{}
.list{
	&__wrap{}
	&__body{
		@extend listBody;
		list-style-type: square;
		&--notype{
			list-style-type: none;
		}		
	}
	&__item{
		@extend listItem;
		&-contact{
			font-size: calc($font-unit * 17);
		}
	}
}
