//- layout.jade
include helpers/variables
doctype html
html
	include partials/head
	body
		.main
			//- header
			include partials/header
			//- content
			.container.wrapper
				.row
					.col-md-3.col-md-offset-1
						include partials/sidebar  
					.col-md-7
						//- content main page
						block content
		//- footer
		include partials/footer
		//- scripts
		include partials/scripts
		script.
			(function() {
			})();
